<div class="grid-2">
  <div class="">
    <app-contactform (create)="createContact()"></app-contactform>
  </div>
  <div class="contact">
    <form action="">
      <input
        type="text"
        placeholder="Search for contact...."
        (input)="filterContacts($event)"
      />
    </form>
    <div class="grid-view">
      <div class=""></div>
      <button class="btn btn-success toggle-btn" (click)="toggleDisplayMode()">
        <mat-icon>remove_red_eye</mat-icon>
        <p>Display Mode</p>
      </button>
    </div>
    <div class="" *ngIf="displayMode === 'list'">
      <div
        class="card bg-light"
        *ngFor="let contact of filteredContacts$ | async"
      >
        <h3 class="text-primary text-left">
          {{ contact.firstName }} {{ contact.lastName }}
          <span class="badge badge-success">professional</span>
        </h3>
        <ul class="list">
          <li>
            <mat-icon class="mg-r-icon"> contact_mail</mat-icon
            >{{ contact.email }}
          </li>
          <li>
            <mat-icon class="mg-r-icon"> call_end</mat-icon>{{ contact.phone }}
          </li>
        </ul>
        <div class="action-btn">
          <button class="btn btn-dark btn-sm btn-icon-d">
            <mat-icon class="mg-r-icon">create</mat-icon>
            <p>Edit</p>
          </button>
          <button
            class="btn btn-danger btn-sm btn-icon-d"
            (click)="deleteContact({ _id: contact._id })"
          >
            <mat-icon class="mg-r-icon">delete_sweep</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="displayMode === 'grid'">
      <div class="grid-card-c">
        <div
          class="card bg-light"
          *ngFor="let contact of filteredContacts$ | async"
        >
          <h3 class="text-primary text-left">
            {{ contact.firstName }} {{ contact.lastName }}
            <span class="badge badge-success">professional</span>
          </h3>
          <div class="card-body">
            <p>
              <mat-icon class="mg-r-icon"> contact_mail</mat-icon
              >{{ contact.email }}
            </p>
            <p>
              <mat-icon class="mg-r-icon"> call_end</mat-icon
              >{{ contact.phone }}
            </p>
            <div class="action-btn">
              <button class="btn btn-dark btn-sm btn-icon-d">
                <mat-icon class="mg-r-icon">create</mat-icon>Edit
              </button>
              <button
                class="btn btn-danger btn-sm btn-icon-d"
                (click)="deleteContact({ _id: contact._id })"
              >
                <mat-icon class="mg-r-icon">delete_sweep</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
