<div class="grid-2">
  <div class="">
    <app-contactform (create)="createContact()"></app-contactform>
  </div>
  <div class="contact">
    <form action="">
      <input
        type="text"
        placeholder="Search for contact...."
        (input)="filterContacts($event)"
      />
    </form>
    <div
      class="card bg-light"
      *ngFor="let contact of filteredContacts$ | async"
    >
      <h3 class="text-primary text-left">
        {{ contact.firstName }} {{ contact.lastName }}
        <span class="badge badge-success">professional</span>
      </h3>
      <ul class="list">
        <li>
          <mat-icon class="mg-r-icon"> contact_mail</mat-icon
          >{{ contact.email }}
        </li>
        <li>
          <mat-icon class="mg-r-icon"> call_end</mat-icon>{{ contact.phone }}
        </li>
      </ul>
      <p>
        <button class="btn btn-dark btn-sm btn-icon-d">
          <mat-icon class="mg-r-icon">create</mat-icon>Edit
        </button>
        <button
          class="btn btn-danger btn-sm btn-icon-d"
          (click)="deleteContact({ id: contact.id })"
        >
          <mat-icon class="mg-r-icon">delete_sweep</mat-icon>
          Delete
        </button>
      </p>
    </div>
  </div>
</div>
