<form
  [formGroup]="form"
  #formDirective="ngForm"
  (ngSubmit)="onSubmit(form.value)"
  novalidate
>
  <h2 class="text-primary">Add Contact</h2>
  <input type="text" placeholder="First Name" formControlName="firstName" />
  <input type="text" placeholder="Last Name" formControlName="lastName" />
  <input type="email" placeholder="Ex@gmmail.com" formControlName="email" />
  <input type="text" placeholder="Phone Number" formControlName="phone" />
  <h5>Choose Contact type</h5>
  <input type="radio" formControlName="type" value="personal" /> Personal
  <input type="radio" formControlName="type" value="personal" /> Professional
  <div class="">
    <input
      type="submit"
      value="Add Contact"
      class="btn btn-primary btn-block"
    />
  </div>
</form>
