<div class="form-container">
  <h1>Account <span class="text-primary">Register</span></h1>
  <form [formGroup]="signupForm" (ngSubmit)="signup()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" formControlname="name" />
    </div>
    <div class="form-group">
      <label for="email">Email Address</label>
      <input type="email" formControlname="email" />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" formControlname="password" />
    </div>
    <div class="form-group">
      <label for="password2">Confirm Password</label>
      <input type="password" formControlname="password2" />
    </div>
    <input
      type="submit"
      [disabled]="!signupForm.valid"
      value="Register"
      class="btn btn-primary btn-block"
    />
  </form>
</div>
