<div class="navbar bg-primary">
  <a routerLink="/">
    <h1>
      <mat-icon class="{icon}">{{ iconName }}</mat-icon
      >{{ logo }}
    </h1>
  </a>
  <ul>
    <li *ngIf="isAuthenticated" routerLinkActive="active">
      <a routerLink="/"> Home </a>
    </li>

    <li *ngIf="!isAuthenticated">
      <a routerLinkActive="active" routerLink="/signin"> Login </a>
    </li>
    <li *ngIf="isAuthenticated" (click)="logout()">
      <a routerLinkActive="active" routerLink="/signin"> LogOut </a>
    </li>
    <li *ngIf="!isAuthenticated">
      <a routerLinkActive="active" routerLink="/signup"> Signup </a>
    </li>
    <li>
      <a routerLinkActive="active" routerLink="/about"> About </a>
    </li>
  </ul>
</div>
