<div class="navbar bg-primary">
  <a routerLink="/">
    <h1>
      <mat-icon class="{icon}">{{ iconName }}</mat-icon
      >{{ logo }}
    </h1>
  </a>
  <ul>
    <li routerLinkActive="active">
      <a routerLink="/home"> Home </a>
    </li>

    <li>
      <a routerLinkActive="active" routerLink="/about"> About </a>
    </li>
    <li>
      <a routerLinkActive="active" routerLink="/signin"> Login </a>
    </li>
    <li>
      <a routerLinkActive="active" routerLink="/signup"> Signup </a>
    </li>
  </ul>
</div>
